.comments-container {
  display: flex;
  @media screen and (min-width: 1024px) {
    margin-left: 20em;
    margin-right: 20em;
  }
}

.page-container {
  display: flex;
  font-family: source-serif-pro, Georgia, Cambria, "Times New Roman", Times, serif;
  font-size: 17px;
  line-height: 1.5em;
  @media screen and (min-width: 1024px) {
    margin-left: 20em;
    margin-right: 20em;
  }

  .content {
    padding: 1em;
    text-align: justify;

    h1 {
      font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: xx-large;
    }
    h2 {
      font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: x-large;
    }
    h3 {
      font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: larger;
    }
    h4 {
      font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: large;
    }
    picture {
      display: block;
      text-align: center;
    }
  }
  .article {
    width: 100%;
  }
  .paper {
    width: 70%;
  }

  .page-sidebar {
    padding: 1em;
    width: auto;
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;

    .section {
      margin-bottom: 2em;

      .title {
        font-weight: 800;
        margin-bottom: 0.75em;
      }
    }
    .toc {
      font-size: smaller;
      margin-bottom: 0.5em;
    }
    .toc:hover {
      text-decoration: underline;
    }
    .toc-h1 {
      font-weight: bold;
      margin-left: 0em;
    }
    .toc-h2 {
      margin-left: 1.5em;
    }
    .toc-h3 {
      margin-left: 3em;
    }
  }
}

.page-loading {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2em;
}