$border-width: 1px;
$border-color: lightgrey;
$header-font: Helvetica, sans-serif;

.header-f-container {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 5px;
}

.header-container {
	padding-top: 8px;
	height: 42px;
	border-bottom: $border-width solid $border-color;
	position: sticky;
	top: 0;
	background-color: white;

	.header {
		font-family: $header-font;

		.title {
			font-size: x-large;
			font-weight: 800;
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
		}

		.float-right {
			margin-left: auto;
		}
	}
}

