.post-summary-container {
  display: grid;
  row-gap: 0.75em;
  grid-template-rows: repeat(3, auto);
  padding-top: 0.5em;
  padding-bottom: 2em;
  border-bottom: 1px solid rgb(238, 238, 238);
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: grey;

  .header {
    font-size: smaller;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: span 2;
  }
  .summary {
    grid-row-start: 2;
    grid-row-end: 2;

    color: black;

    .title {
      font-size: larger;
      font-weight: 800;
      padding-bottom: 0.25em;
    }

    .text {
      font-family: source-serif-pro, Georgia, Cambria, "Times New Roman", Times, serif;
    }
  }
  .col-span {
    grid-column-start: 1;
    grid-column-end: 1;
  }
  .col-span-2 {
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .thumbnail {
    @media screen and (max-width: 989px) {
      display: none;
    }
    grid-column-start: 2;
    grid-column-end: 2;
    display: flex;
    justify-content: center;

    img {
      object-fit: contain;
    }
  }
  .footer {
    font-size: small;
    margin-top: 15px;
  }
  .categories {
    font-size: smaller;
    display: flex;
    justify-content: flex-start;
    gap: 0.5em;
    margin-top: 10px;
  }
}